/*
Colour scheme is loosely based on the landing UI from the Nostromo spacecraft in Alien!
*/

/* Define variables */
* {
	--bg-color: #141e22;
	--line-color: #1a3e49;
	--text-color: #a4fbff;

	--interactive-color: #318dad;
	--interactive-color-2: #1d6881;
	--interactive-color-3: #0e4152;
	--checkbox-color: #3f9bbc;

	--critical-color: #f44c27;
	--critical-color-2: rgb(243, 129, 103);
}

/* Load fonts */
@font-face {
	font-family: 'Visitor1';
	src: url('font/visitor1.ttf') format('truetype');
}

/* Colours and fonts */
html,
body {
	background: var(--bg-color);
	font-family: "Acumin Variable", "Acumin Variable Concept", Helvetica, sans-serif;
	max-width: 100%;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	min-width: 800px;
	width: fit-content;
	border: 2px solid var(--line-color);
	display: flex;
	flex-flow: column nowrap;
}

hr {
	border-color: var(--line-color);
	margin: 0.5rem 0;
}

h1,
p,
li {
	color: var(--text-color);
}

/* Page layout styling */
h1 {
	font-size: 16pt;
	font-weight: 900;
	letter-spacing: 0.05em;
	line-height: 1;
	margin: 0.5rem;
	margin-top: 0.8rem;
	text-align: center;
}

p,
li,
input {
	font-size: 12pt !important;
}

/* Grid styling */
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: min(1vw, 8px);
	padding: 2rem 0.5rem;
	max-width: 800px;
	--icon-color: Gray;
}

/* Item icon styling */
.item {
	display: flex;
	justify-content: center;
	max-width: 100%;
	aspect-ratio: 1;
	text-align: center;
	font-size: 90%;
	text-overflow: ellipsis;
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
	cursor: pointer;
}

.item:has(input[type="checkbox"]:checked) {
	color: var(--interactive-color);
	opacity: 60%;
	background-color: var(--interactive-color-3);
}

.item input[type="checkbox"] {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

.item .icon {
	display: block;
	position: absolute;
	z-index: 2;
	top: min(1vw, 8px);
	left: min(1vw, 8px);
	width: calc(100% - min(2vw, 16px));
	height: calc(100% - min(2vw, 16px));
	filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.item span {
	display: block;
	padding: 0 0.25rem;
	z-index: 4;
	filter: drop-shadow(1px 0 0 black) drop-shadow(-1px 0 0 black) drop-shadow(0 1px 0 black) drop-shadow(0 -1px 0 black) drop-shadow(0 0 1px black);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item .modifier-right {
	display: block;
	position: absolute;
	z-index: 4;
	top: 0;
	right: 0;
	width: 30%;
	height: 30%;
	background-image: linear-gradient(to right top, rgba(88, 175, 230, 0.3), rgba(42, 79, 102, 0.5));
	border-bottom-left-radius: 50%;
	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 5px 0 10px rgba(0, 0, 0, 0.7);
}

.item .modifier-right img {
	width: 66%;
	height: 66%;
	padding: 17%;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

.item:has(.icon) {
	align-items: end;
	padding: 0.25rem;
	position: relative;
	font-family: "Visitor1";
	font-weight: bold;
	line-height: 0.7;
	color: white;
	z-index: 1;
	background-color: var(--icon-color);
	background-image: url("ui/pattern.png"), linear-gradient(to bottom, rgba(80, 250, 80, 0), rgba(159, 255, 159, 0) 40%, rgba(194, 250, 194, 1) 90%);
	background-repeat: repeat, no-repeat;
	background-position: center, center;
	background-size: 12px, cover;
	box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.5), 5px 5px 10px rgba(0, 0, 0, 1);
	border-radius: 20%;
	border: 2px solid black;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	overflow: hidden;
	text-align: center;
}

.item:has(.icon)::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-image: linear-gradient(to bottom, transparent, transparent 60%, rgba(255, 255, 255, 0.7) 90%);
}

.item:has(.icon)::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -30px;
	width: calc(100% + 60px);
	height: 55%;
	z-index: 4;
	border-radius: 0 0 50% 50%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.0) 20%, rgba(255, 255, 255, 0.4));
}

#no-groceries-found {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1rem auto 0.8rem;
	color: var(--interactive-color-2);
}

/* Using CSS to filter the list (instead of hiding/unhiding with JS/DOM updates) */
.grid#coles .item:not(.coles) {
	display: none;
}

.grid#aldi .item:not(.aldi) {
	display: none;
}

/* When a filter is active, hide any checked items */
/*
.grid[id]:not([id=""]) .item:has(input[type="checkbox"]:checked) {
    filter: brightness(50%);
}
	*/

/* Checkboxes */
input[type="checkbox"],
input[type="checkbox"]+.item {
	cursor: pointer;
}

input[type="checkbox"]:checked {
	accent-color: var(--checkbox-color);
}

input[type="checkbox"]:checked+.item {
	color: var(--interactive-color);
	opacity: 60%;
}

.item:has(.icon):has(input[type="checkbox"]:not(:checked)) {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 40%), linear-gradient(to bottom, var(--icon-color), rgba(0, 0, 0, 0) 40%), url("ui/pattern.png"), linear-gradient(to bottom, rgba(80, 250, 80, 0), rgba(159, 255, 159, 0) 40%, rgba(194, 250, 194, 1) 90%);
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-position: center, center, center, center;
	background-size: cover, cover, 12px, cover;
}

/* Other input fields */
input[type="submit"],
input[type="button"],
input[type="text"] {
	border: 1px solid var(--interactive-color-2);
	border-radius: 4px;
	height: 100%;
	flex-grow: 1;
}

input[type="text"] {
	cursor: text;
	padding: 0 0.25rem;
	background-color: transparent;
	color: var(--text-color);
	line-height: 2;
	min-width: 0;
}

input[type="submit"],
input[type="button"] {
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	font-weight: 600;
	background-color: var(--interactive-color);
	line-height: 2;
	font-size: 80% !important;
}

input[type="submit"]:not(:disabled):active,
input[type="button"]:not(:disabled):active {
	background-color: var(--text-color);
}

.button-critical:not(:disabled):active {
	background-color: var(--critical-color-2) !important;
	border-color: var(--critical-color) !important;
}

input[type="submit"]:disabled,
input[type="button"]:disabled {
	cursor: default;
	background-color: var(--line-color) !important;
	color: #141e22 !important;
}


/* Mobile layouts */
@media (max-width:800px) {

	html,
	body {
		width: 100%;
		min-width: 0;
	}
}

@media (max-width: 360px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.item {
		font-size: 4vw;
	}
}

@media (min-width: 360px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.item {
		font-size: 3vw;
	}
}

@media (min-width: 600px) {
	.grid {
		grid-template-columns: repeat(5, 1fr);
	}

	.item {
		font-size: min(2.4vw, 19.2px);
	}
}