<!doctype html>
<html>

<head>
    <title>Burrow shopping</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=yes"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>
    <div class="grid"> {% for item in data %} <label for="item-{{item[0]}}">
            <input
                type="checkbox"
                id="item-{{item[0]}}"
                autocomplete="off"
                {% if item[4] %}checked{% endif %}
            /> <span>{{item[1]}}</span></label> {% endfor %} {% if data|length == 0 %}<p id="no-groceries-found">No groceries found
        </p>{% endif %} </div>
    <script src="{{ url_for('static', filename='burrow-shopping.js') }}"></script>
</body>

</html>