<!doctype html>
<html>

<head>
    <title>Burrow shopping</title>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=yes"
    >
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>
    <div>
        <input
            type="text"
            id="search"
        >
        <label>
            <select id="store-selector">
                <option
                    selected
                    value=""
                >Show all</option>
                <option value="coles">Coles</option>
                <option value="aldi">Aldi</option>
            </select>
        </label>
        <input type="button" onclick="prompt('Add new grocery')">
    </div>
    <div class="grid"> {% for row in data %} <label
            class="item{% if row['coles'] == 'true'%} coles{% endif %}{% if row['aldi'] == 'true'%} aldi{% endif %}"
            style="{% if row['colour']|length != 0 %}--icon-color: {{row['colour']}};{% endif %}"
            data-search="{{row['groceryname']|lower}} {{row['category']|lower}} {{row['tags'|lower]}}"
        >
            <input
                type="checkbox"
                id="item-{{row['rowid']}}"
                autocomplete="off"
                {% if row['done'] %}checked{% endif %}
            /> {% if row['icon']|length != 0 %}<img
                class="icon"
                src="{{ url_for('static', filename='icon/'+row['icon']) }}"
            >{% endif %} {% if row['modifier']|length != 0 %}<div class="modifier-right"><img
                    src="{{ url_for('static', filename='ui/'+row['modifier']) }}"
                ></div>{% endif %} <span>{{row['groceryname']}}</span>
        </label> {% endfor %} {% if data|length == 0 %}<p id="no-groceries-found">No groceries found</p>{% endif %}
    </div>
    <script src="{{ url_for('static', filename='burrow-shopping.js') }}"></script>
    <style id="dynamic-css">
    </style>
</body>

</html>